@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  background: linear-gradient(
    92.23deg,
    #51f8ec 21.43%,
    rgb(27, 231, 249) 50.63%,
    #099abe 100%,
    #0c1434 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  color: white; /* Change text color on hover */
  background: linear-gradient(
    92.23deg,
    #0c1434 21.43%,
    #0674a7 50.63%,
    #51f8ec 100%,
    rgb(27, 231, 249) 117.04%
    
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #0c1434 21.43%,
    #0674a7 50.63%,
    #51f8ec 100%,
    rgb(27, 231, 249) 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h1 {
    @apply font-primary text-[38px] mb-6 tracking-[10%] uppercase;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
    transition: color 0.3s; /* Add transition for smooth color change */
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text font-bold font-primary;
    background-image: linear-gradient(to right, rgb(178, 248, 245), rgb(81, 248, 236), #20a4e1, #0674a7, #1BE7F9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.3s, color 0.3s;
    line-height: 1.2; /* Adjust this value as needed */
    padding-top: 0.1em; /* Adjust this value as needed */
  }
  
  .text-gradient:hover {
    background-position: 100% 0;
    color: white;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: '100vh';
  }
}
